@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Upds.Sistemas.ProgWeb2.Tintoreria.Core.Usuario usuario = ViewBag.Usuario;

}
<div class="row light-blue darken-4">
    <div class="col s12 m10 center-align">
        <h4 class="white-text">
            Tintoreria
        </h4>
        <h4 class="white-text">
            <span class="deep-orange darken-3 ">&</span>&nbsp; Lavanderia
        </h4>
    </div>
    <div class="col s12 m2 white-text">
        <span>Login</span>
    </div>

</div>