@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Upds.Sistemas.ProgWeb2.Tintoreria.Core.Usuario usuario = ViewBag.Usuario;
}

<h2>Bienvenido @usuario.Username</h2>