@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Upds.Sistemas.ProgWeb2.Tintoreria.Core.Usuario usuario = ViewBag.Usuario;
}
<div class="row">
    <div class="col-12 justify-content-center">
        <h4>
            Tintoreria
        </h4>
        <h4>
            <span>&</span>&nbsp; Lavanderia
        </h4>
    </div>
    <h3>Bienvenido @usuario.Username</h3>
</div>