<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="TintoreriaConnectionString" connectionString="Data Source=updstintoreria.database.windows.net;Initial Catalog=tintoreria;Integrated Security=False;Persist Security Info=True;User ID=freefire;Password=Siempren0smatan;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ConsoleAppTintoreriaSystem.log" />
        </listeners>
      </trace>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>