@model IEnumerable<Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.TrabajoModel>
@{
    ViewBag.Title = "Lista Trabajo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
<div class="row">
    <div class="col s12">
        @Html.
    </div>
</div>
}