
@{
    ViewBag.Title = Resource.Resource.NewWork;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@Resource.Resource.NewWork</h2>

@using(Html.BeginForm())
{
<div class="container">
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            @Html.TextBoxFor()
            @*<input id="icon_prefix" type="text" class="validate">*@
            <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Telephone</label>
        </div>
    </div>
</div>

}
