@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.CargoModel

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Crear Cargo</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s2">
                        @Html.LabelFor(model => model.Nombre)
                    </div>
                    <div class="input-field col s10">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "validate", @placeholder = "Nombre Cargo" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn">
                    <i class="material-icons left">add</i> Crear Cargo
                </button>
            </div>
        </div>
    </fieldset>
}

